.overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0.5,0.5);
	z-index: 999;
	cursor: pointer;
	text-align:center;
  }
  .dropdown .dropdown-input {
    background: #fff;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 3px;
    color: #333;
    display: block;
    /*font-size: .8em;*/
    /*min-width: 400px;*/
    /*max-width: 400px;*/
  min-width: 100% !important;
  padding: 6px;
  font-size: 16px;
      font-weight: bold;
}
Dropdown{
    width:600px;
}

.filter_button{
    top: 125px;
left: 768px;
/* width: 14px;
height: 14px; */
background: transparent url('../../../assets/icon/noun_filter_3070438.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.top-table{
    /* top: 91px;
left: 118px;
width: 1194px;
height: 60px; */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 10px #0000000D;
border: 1px solid #DEDEDE;
border-radius: 10px;
opacity: 1;
margin-bottom: -50px !important;
padding: 10px,5px,10px,5px !important;
}
/* .table{
left: 118px;
width: 1194px;
height: 779px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDE;
border-radius: 10px;
opacity: 1;
} */

.input-group {
    margin: 0 0 20px 0 !important;
}